.thumbnail {
    min-height: 365px;
}

.thumbnail:hover {
    border: 1px solid #337ab7;
    box-shadow: 1px 1px 8px 1.5px #337ab7;
}

a:hover {
    text-decoration: none !important;
}

.thumbnail img {
    min-width: 100%;
    max-height: 200px !important;
}

.panel-heading {
    background-color: rgba(69, 177, 232, 0.03) !important;
}

.panel-body img {
    max-height: 350px;
    min-width: 80%;
}

.panel-body .book-desc {
    margin-top: 20px;
}

.col-md-custom {
    width: 20%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.radio-form-fix .col-md-12:last-child {
    margin-bottom: 15px;
}

textarea {
    min-height: 175px;
    max-width: 100%;
    min-width: 100%;
}

#suggestionDiv {
    position: absolute;
    top: 51px;
    left: 18%;
    z-index: 99;
}

.list-group span.list-group-item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.navbar-form {
    width: 40% !important;
}

.navbar-form .form-group {
    width: calc(100% - 85px);
}

.navbar-form .form-group .form-control {
    width: 100%;
}
.footer {
    height: 50px;
    background-color: #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
}

